body {
  position: relative;
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 46px;
  overflow: hidden;

  @include biggerthan($desctopScreen) {
    max-width: 1141px;
  }

  @include smallerthan($mobileScreen) {
    max-width: 100%;
    height: 100%;
    padding-top: 0;
  }
}

//header

.list {
  display: flex;

  @include smallerthan($desctopThirdScreen) {
    justify-content: space-between;
  }

  li:not(:last-child) {
    margin-right: 5.966%;

    @include smallerthan(1439px) {
      margin-right: 3%;
    }
  }
}

.header {
  display: flex;
  height: 73px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;

  @include smallerthan($mobileScreen) {
    justify-content: center;
    height: 55px;
    align-items: center;
    padding: 20px 16px;
  }

  &__navigation {
    padding-top: 15px;
    max-width: 503px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 12.02%;

    @include smallerthan($desctopThirdScreen) {
      display: block;
    }
    @include smallerthan($desctopScreen) {
      margin-right: 20px;
    }
    @include smallerthan($mobileScreen) {
      margin-right: 0;
      margin: 0 auto !important;
      padding-top: 0;
    }

    ul li {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #e4e5ea;
      @include smallerthan($mobileScreen) {
        font-size: 12px !important;
      }
    }
  }

  &__logo-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 2.64%;
  }

  &__logo {
    margin-top: 11px;
    display: block;
    height: 24px;
  }

  &__description {
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    max-width: 165px;
    width: 100%;
    color: #e4e5ea;
    font-family: "Montserrat";
    margin-top: 10px;
  }

  &__contacts {
    max-width: 323px;
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;

    @include smallerthan($desctopScreen) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.social {
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  width: 100%;
}

.social-w {
  width: 78px;
}

.phone {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #e4e5ea;
  margin-right: 4.1%;
}

.address {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #e4e5ea;
  @include smallerthan($mobileScreen) {
    text-align: left;
  }
}

//main
.content div:last-child {
  display: flex;
  flex-direction: column;
  align-items: end;
  @include smallerthan($mobileScreen) {
    width: 100%;
    align-items: start;
  }

  .presents-title {
    text-align: right;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    width: 291px;
    color: white !important;

    @include smallerthan($mobileScreen) {
      text-align: left;
    }

    .gradient {
      position: relative;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
    }

    .no-gradient {
      position: relative;
      color: white !important;
      z-index: 10;
    }
  }
}

.content div:first-child {
  .main-title h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;

    color: #e4e5ea;
    @include smallerthan($mobileScreen) {
      font-size: 36px !important;
    }
  }

  .main-title h1 span {
    font-family: "Inter";
    font-weight: 900;
    font-size: 48px;
    background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include smallerthan($mobileScreen) {
      font-size: 36px !important;
    }
  }
}

.content {
  height: auto !important;
  max-width: 1143px;
  margin: 90px auto 0;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 362px 330px;
  height: 546px;
  @include smallerthan($mobileScreen) {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 451px;
    padding: 40px 39px 59px 15px;
    margin: 0;
    row-gap: 45px;
    background: url("../images/bg/bobile-bg.png") center center/ cover no-repeat;
  }

  &__title {
    font-family: "Inter";
    font-style: normal;
    color: #e4e5ea;
  }

  &__subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #e4e5ea;
    width: 275px;
    margin-top: 30px;
    @include smallerthan($mobileScreen) {
      margin-top: 15px;
    }
  }

  &__points {
    margin-top: 40px;
    display: grid;
    justify-items: end;
    row-gap: 30px;
    grid-template-areas:
      "W D"
      "A DC";
    @include smallerthan($mobileScreen) {
      grid-template-areas:
        "D A "
        "DC W";
    }
    .widget {
      grid-area: W;
      width: 101px;
      margin-right: 31px;
      @include smallerthan($mobileScreen) {
        margin-right: 0;
        width: 100%;
      }
    }

    .dashboard {
      grid-area: D;
      width: 135px;
      @include smallerthan($mobileScreen) {
        width: 100%;
      }
    }

    .audit {
      grid-area: A;
      margin-right: 36px;
      width: 164px;
      @include smallerthan($mobileScreen) {
        margin-right: 0;
        width: 100%;
      }
    }

    .days-count {
      grid-area: DC;
      width: 130px;
      @include smallerthan($mobileScreen) {
        width: 100%;
      }
    }
  }

  &__point span {
    display: block;
  }

  &__point span:last-child {
    margin-top: 6px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #e4e5ea;
  }

  &__point span:first-child {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #e4e5ea;
    text-align: right;
    @include smallerthan($mobileScreen) {
      font-size: 13px;
    }
  }

  &__consult-btn {
    margin-top: 61px;
    width: 262px;
    height: 61px;
    background: #4077f3;
    border: none;
    color: #e4e5ea;
    cursor: pointer;

    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
  }
}

//footer
.footer {
  max-width: 1141px;
  width: 100%;
  margin: 69px auto 0;
  display: flex;

  @include smallerthan($desctopScreen) {
    display: grid;
    grid-template-columns: 171px 400px 1fr;
  }
  @include smallerthan($mobileScreen) {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 41px 16px 60px 15px;
  }

  &__links {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #e4e5ea;
  }

  &__links li:not(:last-child) {
    margin-bottom: 10px;
  }

  &__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #656566;
    margin-bottom: 20px;
  }

  &__info {
    width: 195px;
    margin-right: 98px;

    @include smallerthan($desctopScreen) {
      margin-right: 0;
    }
  }

  &__menu {
    width: 408px;
    margin-right: 163px;

    @include smallerthan($desctopScreen) {
      margin-right: 0;
    }
  }

  &__contacts {
    width: 277px;
    @include smallerthan($mobileScreen) {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
  }
  .footer-item:not(:first-child) {
    @include smallerthan($mobileScreen) {
      margin-top: 30px;
    }
  }
  .footer-item {
    @include smallerthan($desctopScreen) {
      width: 100%;
    }

    &__multiple-items {
      display: flex;
    }

    &__multiple-items ul:first-child {
      margin-right: 52px;

      @include smallerthan($desctopScreen) {
        margin-right: 5%;
      }
    }
  }

  &__contacts-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include smallerthan($mobileScreen) {
      align-items: flex-start;
    }

    .phone {
      margin-bottom: 21px !important;
    }

    .social {
      margin-bottom: 19px;
    }
  }
}

//media
//etc
.point {
  position: relative;
}
.point span {
  text-align: left !important;
  margin-top: 0 !important;
}
.point::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  left: -15px;
  top: 8px;
  background: linear-gradient(#fcb045, #fd1d1d);
}

.points {
  display: grid;
  column-gap: 25px;
  margin-left: 15px;
}

.no-mr {
  margin: 0 !important;
}

.right-text {
  text-align: right;
}

.hideOnMobile {
  @include smallerthan($mobileScreen) {
    display: none !important;
  }
}

.hideOnDesctop {
  @include biggerthan($mobileScreen) {
    display: none !important;
  }
}

@supports (mix-blend-mode: darken) {
  .presents-title .gradient::after {
    position: absolute;
    content: "";
    top: 0;
    right: -102px;
    bottom: 0;
    left: -142px;
    pointer-events: none;
    background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);

    mix-blend-mode: darken;
  }
}
